<app-article>
    <h2 *articleHeader class="header">Our Projects...</h2>
    Pellentesque mollis ex quis nunc laoreet fermentum. Aliquam auctor in nunc vel placerat. Pellentesque sodales euismod purus, et volutpat purus viverra sit amet. Morbi nisi justo, feugiat eu sem at, tincidunt congue magna. Curabitur ornare vel justo sed ultricies. In hac habitasse platea dictumst. Suspendisse justo tellus, laoreet quis urna a, rhoncus tincidunt purus. Aliquam erat volutpat. Aliquam ut lorem dignissim, vestibulum dolor non, hendrerit elit. Vivamus vitae diam elit. In ac velit eget tortor pulvinar commodo eu sit amet nisi. Proin luctus dapibus sagittis. Morbi faucibus turpis orci, nec lacinia mi eleifend quis.

</app-article>